.dashboard-2,
.dashboard-2 * {
  box-sizing: border-box;
}
.dashboard-2 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1170px;
  top: 78px;
}
.about-us {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 79px;
}
.domains {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 920px;
  top: 78px;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 832px;
  top: 77px;
  width: 73px;
  height: 35px;
}
.line-2 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 173px;
  transform-origin: 0 0;
  transform: rotate(-0.04deg) scale(1, 1);
}
.upcoming-events {
  background: #e2e2e2;
  border-radius: 20px;
  width: 362px;
  height: 69px;
  position: absolute;
  left: 558px;
  top: 688px;
  overflow: hidden;
}
.registered-events {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 31px;
  top: 10px;
  width: 360px;
  height: 59px;
}
.rectangle-6 {
  background: #d9d9d9;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1095px;
  height: 458px;
  position: absolute;
  left: 198px;
  top: 809px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ellipse-9 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 209px;
  top: 875px;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 216px;
  top: 875px;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.ellipse-4 {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 668px;
  top: 1123px;
}
.ellipse-5 {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 694px;
  top: 1123px;
}
.ellipse-6 {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 720px;
  top: 1123px;
}
.ellipse-7 {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 746px;
  top: 1123px;
}
.ellipse-8 {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 772px;
  top: 1123px;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.ellipse-82 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1197px;
  top: 866px;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1206px;
  top: 866px;
}
.rectangle-11 {
  background: rgba(121, 121, 121, 0.23);
  width: 1093px;
  height: 90px;
  position: absolute;
  left: 182px;
  top: 1004px;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 10px;
  width: 146px;
  height: 56.93px;
  position: absolute;
  left: 832px;
  top: 1022.89px;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 10px;
  width: 176px;
  height: 68.7px;
  position: absolute;
  left: 638px;
  top: 1017px;
}
.rectangle-14 {
  background: #ffffff;
  border-radius: 10px;
  width: 146px;
  height: 56.93px;
  position: absolute;
  left: 473px;
  top: 1022.89px;
}
.header {
  position: absolute;
  inset: 0;
}
.line-3 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 173px;
  transform-origin: 0 0;
  transform: rotate(-0.04deg) scale(1, 1);
}
.top {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 94px;
  height: 88.53px;
  position: absolute;
  left: 65px;
  top: 123.53px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.ellipse-12 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 76px;
  height: 77px;
  position: absolute;
  left: 1293px;
  top: 124px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.ellipse-16 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  position: absolute;
  left: 182px;
  top: 232px;
}
.rectangle-60 {
  background: #d9d9d9;
  width: 610px;
  height: 242px;
  position: absolute;
  left: 509px;
  top: 233px;
}
.name-ra-email-address {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 539px;
  top: 255px;
  width: 381px;
  height: 187px;
}
.registered-events2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 369px;
  top: 567px;
}
.events-attended {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 638px;
  top: 567px;
}
.my-certificates {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 893px;
  top: 572px;
}
.line-25 {
  border-style: solid;
  border-color: #000000;
  border-width: 3px 0 0 0;
  width: 170px;
  height: 0px;
  position: absolute;
  left: 369px;
  top: 610px;
  transform-origin: 0 0;
  transform: rotate(-0.337deg) scale(1, 1);
}
